name: build-dgraph

on:
  push:
    tags:
      - "v*.*.*"
      
jobs:
  
  build-dgraph:
    runs-on: ubuntu-18.04
    steps:
      - name: Install Go
        uses: actions/setup-go@v2.1.5
        with:
          go-version: '^1.13.1' 

      - name: Install dgraph dependencies
        run: sudo apt-get update; sudo apt-get install gcc make

      - name: Check Go installed
        run: go version

      - name: Checkout dgraph
        uses: actions/checkout@v2
        with:
          repository: unigraph-dev/dgraph.git
          ref: dgraph-personal

      - name: Install dgraph linux
        run: cd ./dgraph; make install; ls $(go env GOPATH)/bin;

      # - name: Test install dgraph linux
      #   run: cd ./dgraph; echo hello > $(go env GOPATH)/bin/dgraph;

      - name: Correct linux build directory
        run: mkdir $(go env GOPATH)/bin/linux_amd64/; mv $(go env GOPATH)/bin/dgraph $(go env GOPATH)/bin/linux_amd64/; ls $(go env GOPATH)/bin; ls $(go env GOPATH)/bin/linux_amd64

      - name: Install dgraph macOS
        run: GOOS=darwin make install; ls $(go env GOPATH)/bin

      - name: Install dgraph windows
        run: GOOS=windows make install; ls $(go env GOPATH)/bin

      - name: Move dgraph builds to current dir
        run: mkdir dist; mv $(go env GOPATH)/bin/linux_amd64/dgraph ./dist/dgraph_linux_amd64; mv $(go env GOPATH)/bin/darwin_amd64/dgraph ./dist/dgraph_darwin_amd64; mv $(go env GOPATH)/bin/windows_amd64/dgraph.exe ./dist/dgraph_windows_amd64.exe; ls .;

      - name: Upload linux build as artifact
        uses: actions/upload-artifact@v2
        with:
          name: dgraph_linux_amd64
          path: ./dist/dgraph_linux_amd64
          if-no-files-found: error 

      - name: Upload macOS build as artifact
        uses: actions/upload-artifact@v2
        with:
          name: dgraph_darwin_amd64
          path: ./dist/dgraph_darwin_amd64
          if-no-files-found: error 

      - name: Upload Windows build as artifact
        uses: actions/upload-artifact@v2
        with:
          name: dgraph_windows_amd64
          path: ./dist/dgraph_windows_amd64.exe
          if-no-files-found: error 

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./dist/dgraph_linux_amd64
            ./dist/dgraph_darwin_amd64
            ./dist/dgraph_windows_amd64.exe
          fail_on_unmatched_files: true